.Boards {
    display: grid;
    grid-template-columns: auto auto auto;
}

.BoardCard {
    margin-right: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}